.section1{
    display: flex;
    justify-content: space-between;
    margin: 0%;
    padding: 0%;
    background-color: rgb(28, 43, 68);
}


.textePresente{
    width: 40%;
    color: whitesmoke;
    text-anchor: middle;
    display: flex;
    align-items: center;
    padding-left:20px;
    font-size: 25px;
}

section .rigth{
    width: 60%;
}
section .rigth img{
    width:100%;
    height: 100%;
}

@media screen and (max-width:640px) {
    section{
        flex-wrap: wrap;
    }

    section .rigth{
        width: 100%;
    }
    section .rigth img{
        width:100%;
        height: 100%;
    }
    .textePresente{
        width: 100%;
        color: gray;
        text-anchor: middle;
        display: flex;
        align-items: center;
        text-align: center;
    }
}